html,
body,
div,
span,
p,
h1,
h2,
h3,
b,
i,
a,
em,
input,
form,
img,
ul,
li,
dl,
dt {  
    margin: 0;
    padding: 0;
    border: 0; 
    outline: none;
    font-style: normal;
    box-sizing: border-box;  
}
ul,
li,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: inline-block;
}

.yrkbox{
	width: 100%;
	height: auto;
}

.yrk_header{
	width: 100%;
	height: 590px;
}
.yrk_header_s{
	width: 100%;
	height: 165px;
}
.yrk_header_ss{
	width: 1000px;
	height: 40px;
	margin: 0 auto;
}
.yrk_header_ss ul{
	float: left;
}
.yrk_header_ss ul li a{
	line-height: 40px;
	color: #212121;
	font-size: 12px;
}
.yrk_header_ss ul li a:hover{
	color: #ec6001
}
.yrk_header_ss ul li span{
	float: left;
	margin-right: 6px;
	padding-top: 2px;
}
.yrk_header_ss .yrk_ss{
	float: right;
	height: 40px;
	line-height: 40px;
	color: #3c3c3c;
	font-size: 12px;
}
.yrk_header_ss .yrk_ss a{
	line-height: 40px;
	margin-right: 10px;
}
.yrk_header_ss .yrk_ss a span{
	float: left;
	padding-top: 2px;
	margin-right: 6px;
}
.yrk_header_sx{
	width: 1000px;
	height: 125px;
	margin: 0 auto;
}
.yrk_header_sx strong{
	width: 300px;
	height: 112px;
	float: left;
}
.yrk_header_sx strong img{
	padding: 0 20px;
}
.yrk_header_z{
	width: 100%;
	height: 425px;
	background: #1c1c1c;
}
.yrk_header_zs{
	width: 100%;
	background: #171717;
}
.yrk_header_zs ul{
	width: 1000px;
	height: 45px;
	margin: 0 auto;
}
.yrk_header_zs ul li{
	width: 100px;
	height: 20px;
	margin-top: 10px;
	text-align: center;
	border-left: 1px solid #ccc;
	float: left;
}
.yrk_header_zs ul li a{
	width: 100px;
	height: 45px;
	color: #fff;
	font-weight: bold;margin-top: 10px;
}
.yrk_header_zs ul li a:hover{
	color: #eb6100;
}
.yrk_header_zx{
	width: 1000px;
	height: 379px;
	margin: 0 auto;
}
.yrk_header_left{
	width: 680px;
	height: 379px;
	float: left;
}
.carousel-indicators{
	margin-top: 20px;
}
.left,.right{
	height: 325px;
}
.glyphicon{
	width: 50px;
	height: 50px;
	background: #3c3732;
	color: #fff;
}

.yrk_header_right{
	width: 301px;
	height: 379px;
	float: right;
}
.yrk_header_right a img{
	margin-top: 20px;
}
.yrk_header_right ul{
	  width: 300px;
    height: 60px;
    margin-top: 17px;
    overflow: hidden;
}
.yrk_header_right ul li{
	padding: 0px 30px;
  height: 28px;
  line-height: 28px;
  font-size: 13px;
}
.yrk_header_right ul li a{
	color: #9a9a9a;
}
.yrk_header_right ul li a:hover{
	color: #CB311C;
}





/*yrk_header结束*/

.yrk_conter{
	width: 100%;
	height: 6838px;
	background: #fff;
}
.yrk_conter_box{
	width: 1000px;
	height: 6838px;
	margin: 0 auto;
}
.yrk_conter_top{
	height: 291px;
}

.yrk_conter_top p{
	width: 100%;
	height: 100px;
	margin-top: 50px;
}
.yrk_conter_top ul li{
	float: left;
	width: 30px;
	height: 30px;
	margin-top: 60px;
	line-height: 30px;
	text-align: center;
}
.yrk_conter_top ul li a{
	color: #212121;
}
.yrk_conter_small{
	width: 100%;
	height: 40px;
	margin-top: 20px;
}
.yrk_conter_small button{
	margin-left: 20px;
	background: #fff;
	border: 1px solid #f2f2f2;
	color: #b2b2b2;
}
.yrk_conter_small button:hover{
	background: #EB6100;
	border: 1px solid #EB6100;
}




.yrk_conter_bottom{
	height: 6547px;
}

.yrk_conter_bottom_tu{
	width: 100%;
	height: 6547px;
}
.yrk_conter_bottom_tu ul{
	width: 1040px;
  font-size: 12px;
  overflow: hidden;
}
.yrk_conter_bottom_tu ul li{
	width: 320px;
	height: 320px;
	text-align: center;
  margin: 0px 18px 56px 1px;
  float: left;
  position: relative;
  top: 0;
  left: 0;
}
.yrk_conter_bottom_tu ul li a{
	  display: block;
    width: 66px;
    height: 31px;
    line-height: 31px;
    border: 1px solid #f2f2f2;
    text-decoration: none;
    color: #b2b2b2;
    outline: none;
}
.yrk_conter_bottom_tu ul li h4{
	position: absolute;
  left: 54px;
  bottom: -33px;
  width: 210px;
  height: 50px;
  text-align: center;
  padding: 6px 20px;
  font-size: 15px;
  line-height: 22px;
  background: #fff;
}




/*yrk_conter结束*/

.yrk_footer{
	width: 100%;
	height: 160px;
	background: #171717;
}
.yrk_footer_box{
	width: 1000px;
	height: 160px;
	margin: 0 auto;
}
.yrk_footer_left{
	width: 30%;
	height: 160px;
	float: left;
}
.yrk_footer_left p img{
	padding: 44px 24px;
}
.yrk_footer_right{
	width: 66%;
	height: 160px;
	float: right;
}
.yrk_footer_right ul{
	width: 94%;
	height: 80px;
	margin: 0 auto;
}
.yrk_footer_right ul li{
	width: 86px;
	height: 20px;
	margin-top: 50px;
	float: left;
	line-height: 20px;
	text-align: center;
	border-left: 1px solid #3e3c3f;
}
.yrk_footer_right ul li a{
	font-size: 12px;
	color: #ccc;
}
.yrk_footer_right ul li a:hover{
	color: #ec6001;
}
.yrk_footer_right p{
	width: 80%;
	height: 80px;
	margin: 0 auto;
	color: #666;
	line-height: 80px;
	font-size: 12px;
}


/*yrk_footer结束*/





